body{
    background-color: black;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
   }
   .banner{
       height: 550px;
       background: radial-gradient(circle, rgba(0, 0, 0), rgba(0, 0, 0));
       padding: 0px;
   }

   .background-image{
       opacity: 0.3;
       height: 100%;
        
   }
   .logo{
       display: inline-block;
   }
   .logo p{
       font-size: 40px;
       font-weight:bolder;
       display: inline-block;
       color: blue;
   }
   .sign-in{
      float: right;
   
   }
   .img-overlay{
       margin-top: 10%;

   }
   .card-botton{
       padding:5px 25px 5px 25px;
       font-size: 30px;
       margin-top: 20px;
   }
   .title{
       font-weight: 700;
       font-size: 80px;
       line-height: 1em;
       margin: 0 0 10px;
   }
   .detail{
       font-size: 35px;
   }
   /* nav */
   .nav{
      padding-top: 10px;
       background-color: rgb(6,6,6);
   }
   .fas{
       font-weight: 2px; 
   }
   .item {
       padding:0px 10px 0px 10px;
       color: rgb(138, 136, 136);
   }
   .item a{
     color:rgb(138, 136, 136);;
     text-decoration: none;
     font-size: 15px;
     font-weight: 0.5px;
   }
   .item p{
       margin-top: 2%;
   }
   .active{
       border-bottom: #4374ba 3px solid;
   }
    /* wallet */
    .wallet{
    border-radius: 0px;
    color: white;
    padding: 5%;
 
   }
   .link{
      
       text-align: center;
   }
   .laptop{
       width: 100%;
       display:inline-block;
   }
   .item a:hover{
       color:white;
   }
   /* table */
   .table{
    margin: 0 auto;
    width: 70%;
    color:white;
   }
   .info{
       margin-top: 5%;
   }
  /* Movies */
    .movies h4{
       color:white;
       font-weight: 600;
       margin-top: 40px;
    }
   /* card-deck */
   .card-deck{
       margin: 0 auto;
       width: 80%;
       padding-top: 3%;
   }
   .card-img-top{
       width:100%;
       height: 75%; 
       margin: 0 auto; 
       padding-top: 4px;
   }
   .card{
       height: 530px;
       padding-bottom: 2px;
       color: white;
       background-color: rgb(10, 10, 10)
        
   }
   .card-body{
       height: 25%;
   }
   /* Register */
   .form{
       width: 70%;
       margin: 0 auto;
       color: white;
       margin:10%;
   }
   .register-bar{
       background-color:rgb(10, 10, 10); 
       color: rgb(65, 65, 65);
   }
    /* footer */
    footer{
        padding:5%;
        color:white;
        width:100%;

    }
    footer ul{
        padding: 5px;
    }
    footer ul li{
        list-style: none;
        color:white;
        padding: 3px 0px 3px 0px;
        
    }
    footer p a{
        color:white;
        padding: 5px
        
    }
    .footer a{
        text-decoration: none;

    }
    @media only screen and (max-width: 900px) {
        .card-botton{
            padding:3px 15px 3px 15px;
            font-size: 20px;
            margin-top: 10px;
        }
        .title{
            font-weight: 500;
            font-size: 50px;
            line-height: 0.8em;
            margin: 0 0 8px;
        }
        .detail{
            font-size: 25px;
        } 
        .img-overlay{
            margin-top: 40%
    }
    .logo p{
        font-size: 30px;
        font-weight:bolder;
        display: inline-block;
        color: blue;
    }
}